#logo{
  width:30%;
}
#logoImg{
  width:60%;
  }

.phNum{
  font-size:120%;font-family:garamond;
  color: white;
  margin-right: 1%;
  margin-left: auto;
}
.phNum:hover{
  color:white;
  text-decoration: none;
}

.menu{
  background-color: #110b3f;
}




.bg1{
  background-image: url("../images/office1.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;

}

.face h1{
  font-family:alfa slab one;
  margin-top:6%;
  text-align:center;
  padding-top:10%;
  /* padding-bottom:15%; */
  font-weight:bold;
  font-size:800%;
  color:white;
}

.face h2{
  color: white;
  text-align: center;
}

.face button{
  display: block;
  background-color: orange;
  color: white;
  margin: auto;
  margin-top: 3%;
}

.body1 h3{
  text-align: center;
  color: #110b3f;
}

.body2{

}

.body2 h3{
  background-color: #110b3f;
  color:white;
  text-align: center;
}

.body3 h3{
  background-color: #110b3f;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 601px){
  html,body{height:100%;} /*covers entire visual area*/
  .face h1{
    padding-top:50%;
  }

  .face button{
    margin-top: 20%;
  }

}
@media only screen and (min-width: 602px) and (max-width:991px){
  .face h1{
    padding-top:10%;
  }

  .face button{
    margin-top: 3%;
  }
}

@media only screen and (min-width: 992px){
  html,body{height:100%;} /*covers entire visual area*/
  .face h1{
    padding-top:10%;
  }

  .face button{
    margin-top: 3%;
  }
}
